img {
    width: 100px;
    height: 100px;
}

.tarjetas button {
    overflow: hidden;


}




.entrada:nth-child(1) { background-color: #ffadad; }
.entrada:nth-child(2) { background-color: #ffd6a5; }
.entrada:nth-child(3) { background-color: #fdffb6; }
.entrada:nth-child(4) { background-color: #caffbf; }
.entrada:nth-child(5) { background-color: #9bf6ff; }
.entrada:nth-child(6) { background-color: #a0c4ff; }
.entrada:nth-child(7) { background-color: #bdb2ff; }
.entrada:nth-child(8) { background-color: #ffc6ff; }
.entrada:nth-child(9) { background-color: #ffafcc; }
.entrada:nth-child(10) { background-color: #fffffc; }


.entrada {
    opacity: 0;
    transform: translateY(120px);
    animation: fadeInUp 2.5s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(120px);
        
    }

    to {
        opacity: 1;
        transform: translateY(0);
       
    }
}

